@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <a href="/Home/AddTask" class="btn btn-info">Add Task</a>
    <br /><br />
    <a href="/Home/ViewTasks" class="btn btn-info">View Tasks</a>
</div>
